<!-- <button mat-raised-button>New</button> -->

<!-- <div class="mat-display-1">mvi</div>
<div class="mat-display-2">mvi</div>
<div class="mat-display-3">mvi</div>
<div class="mat-display-4">mvi</div> -->

<!-- <div class="mat-headline">h1 ile ayni</div>
<div class="mat-title">h2 ile ayni</div>
<div class="mat-subheading-2">h3 ile ayni</div>
<div class="mat-subheading-1">h4 ile ayni</div>

<div class="mat-typography">
  <h1>h1 ile ayni</h1>
  <h2>h2 ile ayni</h2>
  <h3>h3 ile ayni</h3>
  <h4>h4 ile ayni</h4>
</div>

<div class="mat-body-1">Normal Body</div>
<div class="mat-body-2">Normal Body</div>
<div class="mat-caption">Normal Body</div> -->

<!-- <button mat-button color="primary">Link</button>
<button mat-raised-button color="accent">Link</button>
<button mat-stroked-button color="warn">Link</button>
<button mat-flat-button color="disabled">Link</button>

<button mat-icon-button area-label="example">
  <mat-icon>more_vert</mat-icon>
</button>
<button mat-fab color="accent">
  <mat-icon>delete</mat-icon>
</button>
<button mat-mini-fab color="warn">
  <mat-icon>menu</mat-icon>
</button>
<button mat-mini-fab color="warn">
  <mat-icon>chevron_right</mat-icon>
</button>
<button mat-fab color="accent">
  <mat-icon>logout</mat-icon>
</button>
<button mat-fab color="accent">
  <mat-icon>star</mat-icon>
</button> -->
<!--
<h3>Single selection</h3>
<mat-button-toggle-group>
  <mat-button-toggle>mvi1</mat-button-toggle>
  <mat-button-toggle>mvi2</mat-button-toggle>
  <mat-button-toggle>mvi3</mat-button-toggle>
</mat-button-toggle-group>

<h3 style="margin-top: 15px;">Multiple selection</h3>
<mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple>
  <mat-button-toggle value="flour">Flour</mat-button-toggle>
  <mat-button-toggle value="eggs">Eggs</mat-button-toggle>
  <mat-button-toggle value="sugar">Sugar</mat-button-toggle>
</mat-button-toggle-group> -->
<!--
<div>
  <p>
    <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
  </p>
</div>
<div>
  <p>
    <span matBadge="1" matBadgeSize="large" matBadgePosition="before"
      >Text with large badge</span
    >
  </p>
</div>

<div>
  <p>
    <span matBadge="1" matBadgeSize="large" matBadgePosition="below after"
      >Text with large badge</span
    >
  </p>
</div>

<div>
  <p>
    <span matBadge="1" matBadgeSize="large" matBadgePosition="below after"
      >Text with large badge</span
    >
  </p>

  <p>
    Button with a badge on the left
    <button
      mat-raised-button
      color="primary"
      matBadge="8"
      matBadgePosition="before"
      matBadgeColor="accent"
    >
      Action
    </button>
  </p>

 <p>
      Button toggles badge visibility
      <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
          Hide
      </button>
  </p> -->

<!-- <p>
    Icon with a badge
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
 Include text description of the icon's meaning for screen-readers -->
<!-- <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  </p>
</div>
<div>
  <p>
    <span matBadge="1" matBadgeSize="large" matBadgePosition="above before"
      >Text with large badge</span -->
<!-- >
  </p>
  <div>
    <p>
      <span matBadge="1" matBadgeSize="small" matBadgePosition="above before"
        >Text with large badge</span
      >
    </p>
  </div>
</div> -->

<!-- <div style="margin: 50px">
  <span matBadgeOverlap="false" [matBadge]="news" [matBadgeHidden]="news === 0">text with large badge</span>
</div> -->
<!--
<div>
  <mat-progress-spinner value="40"></mat-progress-spinner>
</div>

<div>
  <mat-spinner value="60" mode="determinate"></mat-spinner>
</div>

<div>
  <mat-spinner value="60"></mat-spinner>
</div> -->
<!--
<div *ngIf="show">
  <mat-progress-bar
    style="margin-top: 20px; width: 500px"
    mode="query"
  ></mat-progress-bar>
</div>

<div>
  <button mat-raised-button color="accent" (click)="getData()">Get Data</button>
</div>

<div>
  <mat-progress-bar
    style="margin-top: 20px; width: 500px"
    mode="indeterminate"
  ></mat-progress-bar>
</div>

<div>
  <mat-progress-bar
    style="margin-top: 20px; width: 500px"
    mode="determinate"
    value="70"
  ></mat-progress-bar>
</div> -->
<!--
<mat-toolbar class="title" color="primary">
  <div>Home</div>
  <div>
    <span>About</span>
    <span>Courses</span>
  </div>
</mat-toolbar> -->

<!-- <mat-drawer-container>
  <mat-drawer #sidenav mode="side" [(opened)]="open">Side Nav</mat-drawer>
  <mat-drawer-content>
 <button mat-raised-button (click)="openSide()">Toogle</button>
    <button mat-raised-button (click)="sidenav.open()">Open</button>
    <button mat-raised-button (click)="sidenav.close()">Close</button>
    <button mat-raised-button (click)="sidenav.toggle()">Toggle</button>
  </mat-drawer-content>
</mat-drawer-container> -->

<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Frontend</button>
  <button mat-menu-item>Backend</button>
</mat-menu>

<button mat-raised-button [mat-menu-trigger-for]="appMenu">Menu</button>
